<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  DT-PLM</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link href="/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

    <link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css"
          rel="stylesheet"
          type="text/css" />
    <script src="/assets/plugins/global/plugins.bundle.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DesignTechPLMIntegrationPro.MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DesignTechPLMIntegrationPro.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>




	@section scripts {



		<script>
			// Toggle
			$("#kt_datepicker_1").flatpickr();

			$(document).ready(function () {

			});


		</script>
	}



	<script>

		$(document).ready(function () {
			var successMessage = '@TempData["SuccessMessage"]';
			var infoMessage = '@TempData["InfoMessage"]';
			var warningMessage = '@TempData["WarningMessage"]';
			var errorMessage = '@TempData["ErrorMessage"]';
			if (successMessage) {
				toastr.success(successMessage);
			} else if (infoMessage) {
				toastr.info(infoMessage);
			} else if (warningMessage) {
				toastr.warning(warningMessage);
			}
			else if (errorMessage) {
				toastr.error(errorMessage);
			}
		});


		$(document).ready(function () {
			var systemErrorMessage = '@TempData["SystemErrorMessage"]';

			if (systemErrorMessage) {
				// Hata mesajını belirtilen yapıya yerleştir
				$("#system-error-content").html(systemErrorMessage);

				// Hata mesajını göster
				$("#system-error-message").show();

				// İptal butonunun tıklama olayı
				$("#system-error-cancel").click(function () {
					// Hata mesajını gizle
					$("#system-error-message").hide();
				});

				// "Ok" butonunun tıklama olayı
				$("#system-error-ok").click(function () {
					// Hata mesajını gizle
					$("#system-error-message").hide();

					// Diğer işlemleri burada yapabilirsiniz
				});
			}




			$(document).on('turbolinks:request-start', function () {

		@if (TempData["Loading"] != null && (bool)TempData["Loading"])
		{
						<script>
							$('#loader').show();
		</script>
		}

	});




	});

	</script>




	<script>
				//const button = document.querySelector("#kt_page_loading_overlay");
				document.addEventListener("DOMContentLoaded", function () {
			const buttons = document.querySelectorAll("[data-loading-button-id='kt_page_loading_overlay']");

			buttons.forEach(button => {
					button.addEventListener("click", function () {
						const loadingEl = document.createElement("div");
						document.body.prepend(loadingEl);
						loadingEl.classList.add("page-loader");
						loadingEl.classList.add("flex-column");
						loadingEl.classList.add("bg-dark");
						loadingEl.classList.add("bg-opacity-25");
						loadingEl.innerHTML = `
															<span class="spinner-border text-primary" role="status"></span>
															<span class="text-gray-800 fs-6 fw-semibold mt-5">Loading...</span>
															`;

						KTApp.showPageLoading();

						setTimeout(function () {
							KTApp.hidePageLoading();
							loadingEl.remove();
						}, 2000);
					});
			});
		});

				toastr.options = {
					"closeButton": true,
				"debug": false,
				"newestOnTop": false,
				"progressBar": true,
				"positionClass": "toastr-top-right",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
		};
	</script>


	<script>
		var hostUrl = "/assets/";
	</script>


	<!-- begin::Global Javascript Bundle (mandatory for all pages) -->
	<script src="/assets/js/scripts.bundle.js"></script>
	<script src="/assets/plugins/global/plugins.bundle.js"></script>
	<script src="/assets/plugins/custom/flot/flot.bundle.js"></script>
	<!-- end::Global Javascript Bundle -->
	<!-- begin::Vendors Javascript (used for this page only) -->
	<script src="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
	<script src="/dropzoneJS/dropzone.js"></script>
	<script src="/dropzoneJS/dropzoneStockCodeUpdate.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
	<script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>
	<!-- end::Vendors Javascript -->
	<!-- begin::Custom Javascript (used for this page only) -->

	<script src="/assets/js/custom/apps/calendar/calendar.js"></script>
	<script src="/assets/js/widgets.bundle.js"></script>
	<script src="/assets/js/custom/widgets.js"></script>
	<script src="/assets/js/custom/apps/chat/chat.js"></script>
	<script src="/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
	<script src="/assets/js/custom/utilities/modals/create-app.js"></script>
	<script src="/assets/js/custom/utilities/modals/new-target.js"></script>
	<script src="/assets/js/custom/utilities/modals/users-search.js"></script>
	<script src="/assets/js/custom/authentication/sign-up/general.js"></script>
	<!-- Sonradan Eklediklerim -->

	<script src="/assets/js/custom/apps/ecommerce/sales/listing.js"></script>

	<script src="/assets/js/custom/apps/user-management/roles/list/add.js"></script>
	<script src="/assets/js/custom/apps/user-management/roles/list/update-role.js"></script>


	<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
